importFrom("grDevices", "colorRamp", "dev.new", "dev.off", "pdf",
             "rainbow", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "layout", "legend",
             "lines", "mtext", "par", "plot", "points", "rect",
             "segments", "text", "rasterImage")
importFrom("stats", "as.dist", "dist", "hclust", "ks.test", "na.omit",
             "p.adjust", "p.adjust.methods", "phyper", "rnorm", "var")
importFrom("utils", "data", "read.table", "setTxtProgressBar",
             "txtProgressBar", "write.table")
import(igraph)
importFrom(EBImage, readImage)
import(WGCNA)
import(png)
export (db_names)
export (plotNet)
export (plotKEGG)
export (KEGGplot)
export (color_bar)
export (doGSEA)
export (ES)
export (pathway_append)
export (pathway_creator)
export (pathway_delete)
export (pathway_search)
export (pathway_update)
export (WGCNA_6_1)
export (WGCNA_6_2)
export (WGCNA_6_3)
export (WGCNA_6_4)
export (WGCNA_6_5)
export (WGCNA_6_6)
export (WGCNA_dissTOM)
export (WGCNA_dissTOM2network)
export (steiner_net)
export (mm2hs)
export (hs2mm)
export (do_neighborhood)
